USE [AdventureWorks]
GO

-- Generate some log activity
BEGIN
	ALTER INDEX [PK_TransactionHistory_TransactionID] 
	ON [Production].[TransactionHistory] REBUILD PARTITION = ALL 
	WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, 
	ONLINE = ON, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON);

	ALTER INDEX [PK_SalesOrderDetail_SalesOrderID_SalesOrderDetailID] 
	ON [Sales].[SalesOrderDetail] REBUILD PARTITION = ALL 
	WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, 
	ONLINE = ON, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON);
	
	ALTER INDEX [PK_TransactionHistory_TransactionID] 
	ON [Production].[TransactionHistory] REBUILD PARTITION = ALL 
	WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, 
	ONLINE = ON, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON);

	ALTER INDEX [PK_SalesOrderDetail_SalesOrderID_SalesOrderDetailID] 
	ON [Sales].[SalesOrderDetail] REBUILD PARTITION = ALL 
	WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, 
	ONLINE = ON, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON);
	
	WAITFOR DELAY '00:00.01';
END 
GO 100

