<Config>
	<ClearTempFiles execute="True"/>
	<Backups execute="True">
		<Paths>
			<Path mask="*.*" recurse="true">D:\work\</Path>
			<Path mask="*.pst" recurse="false">C:\users\jfeierman\</Path>
			<Path mask="*.*" recurse="false">C:\cygwin\home\jfeierman\todo.txt\</Path>
		</Paths>
		<RemotePath>
			<ServerName>usrfs01</ServerName>
			<Folder>Home\Backups</Folder>
		</RemotePath>
	</Backups>
</Config>

