<configuration productName="SDNH">
	<package>
		<directories>
			<directory name="Website" pathRelativeToScript="..\Dss.Sdnh.Web.WebUi" />
			<directory name="WcfService" pathRelativeToScript="..\Dss.Sdnh.App.ServiceWcfHost" />
			<directory name="LoggingService" pathRelativeToScript="..\Dss.Framework.ServiceHost" />
			<directory name="Database" pathRelativeToScript="..\Database" />
			<directory name="BatchInvoker" pathRelativeToScript="..\Dss.Sdnh.App.BatchInvoker" />
		</directories>
		<assembly name="DomainObject" pathRelativeToScript="..\Dss.Sdnh.App.ServiceWcfHost\bin\Dss.Sdnh.App.Assembler.dll"/>
	</package>
	<reconfigTemplates>
		<!-- If reconfigAttribute is not present, text of the xpath will be replaced -->
		<template name="website">
			<keys>
				<xpath name="SdnhService" value="/configuration/appSettings/add[@key='ISdnhService']" reconfigAttribute="value" />
				<xpath name="LoggingService" value="/configuration/appSettings/add[@key='ILoggingService']" reconfigAttribute="value" />
				<xpath name="SsnPublicKey" value="/configuration/appSettings/add[@key='Ssn']" reconfigAttribute="value" />
				<xpath name="Last4SsnPublicKey" value="/configuration/appSettings/add[@key='Last4Ssn']" reconfigAttribute="value" />
				<xpath name="SsnSaltBytes" value="/configuration/appSettings/add[@key='SsnSaltBytes']" reconfigAttribute="value" />
			</keys>
		</template>
    <template name="batchInvoker">
			<keys>
				<xpath name="BatchJobErrorEmailSubject" value="/configuration/appSettings/add[@key='BatchJobErrorEmailSubject']" reconfigAttribute="value" />
				<xpath name="DssSenderEmailAddressDisplayText" value="/configuration/appSettings/add[@key='DssSenderEmailAddressDisplayText']" reconfigAttribute="value" />
				<xpath name="DssSmtpServerHost" value="/configuration/appSettings/add[@key='DssSmtpServerHost']" reconfigAttribute="value" />
				<xpath name="CryptographyService" value="/configuration/appSettings/add[@key='ICryptographyService']" reconfigAttribute="value" />
				<xpath name="ApplicationId" value="/configuration/appSettings/add[@key='ApplicationId']" reconfigAttribute="value" />
				<xpath name="ApplicationToken" value="/configuration/appSettings/add[@key='ApplicationToken']" reconfigAttribute="value" />
				<xpath name="DebugMode" value="/configuration/appSettings/add[@key='DebugMode']" reconfigAttribute="value" />
				<xpath name="MigrateEmployers" value="/configuration/appSettings/add[@key='MigrateEmployers']" reconfigAttribute="value" />
				<xpath name="CoreFtpExePath" value="/configuration/appSettings/add[@key='CoreFtpExePath']" reconfigAttribute="value" />
				<xpath name="SftpSiteName" value="/configuration/appSettings/add[@key='SftpSiteName']" reconfigAttribute="value" />
				<xpath name="BatchLogDirectory" value="/configuration/appSettings/add[@key='BatchLogDirectory']" reconfigAttribute="value" />
        <xpath name="SsnPublicKey" value="/configuration/appSettings/add[@key='Ssn']" reconfigAttribute="value" />
        <xpath name="Last4SsnPublicKey" value="/configuration/appSettings/add[@key='Last4Ssn']" reconfigAttribute="value" />
        <xpath name="SsnSaltBytes" value="/configuration/appSettings/add[@key='SsnSaltBytes']" reconfigAttribute="value" />
        <xpath name="ConnectionString" value="/configuration/connectionStrings/add[@name='SdnhDbContext']" reconfigAttribute="connectionString"/>
        <xpath name="LoggingServiceConnection" value="/configuration/connectionStrings/add[@name='DbConnectionString']" reconfigAttribute="connectionString"/>
			</keys>
		</template>
		<template name="wcfService">
			<keys>
				<xpath name="AllowUsers" value="/configuration/system.web/authorization/allow" reconfigAttribute="users"/>				
				<xpath name="Endpoint" value="/configuration/system.serviceModel/services/service/endpoint" reconfigAttribute="address"/>				
				<xpath name="IdentityDns" value="/configuration/system.serviceModel/services/service/endpoint/identity/dns" reconfigAttribute="value"/>
				<xpath name="ConnectionString" value="/configuration/connectionStrings/add[@name='SdnhDbContext']" reconfigAttribute="connectionString"/>		
				<xpath name="LoggingServiceConnection" value="/configuration/connectionStrings/add[@name='DbConnectionString']" reconfigAttribute="connectionString"/>
				<xpath name="SenderEmail" value="/configuration/appSettings/add[@key='DssSenderEmailAddress']" reconfigAttribute="value"/>
				<xpath name="TechTeamEmail" value="/configuration/appSettings/add[@key='TechnicalTeamEmails']" reconfigAttribute="value"/>
				<xpath name="SenderEmailAddressDisplayText" value="/configuration/appSettings/add[@key='DssSenderEmailAddressDisplayText']" reconfigAttribute="value"/>
				<xpath name="DssSmtpServerHost" value="/configuration/appSettings/add[@key='DssSmtpServerHost']" reconfigAttribute="value"/>
				<xpath name="UniqueLinkUrl" value="/configuration/appSettings/add[@key='UniqueLinkUrl']" reconfigAttribute="value"/>
				<xpath name="CryptographyService" value="/configuration/appSettings/add[@key='ICryptographyService']" reconfigAttribute="value"/>
				<xpath name="ApplicationId" value="/configuration/appSettings/add[@key='ApplicationId']" reconfigAttribute="value"/>
				<xpath name="ApplicationToken" value="/configuration/appSettings/add[@key='ApplicationToken']" reconfigAttribute="value"/>
				<xpath name="HoursLinkValid" value="/configuration/appSettings/add[@key='HoursLinkValid']" reconfigAttribute="value"/>
				<xpath name="SmtpServer" value="/configuration/appSettings/add[@key='DssSmtpServerHost']" reconfigAttribute="value"/>
				<xpath name="SsnSaltBytes" value="/configuration/appSettings/add[@key='SsnSaltBytes']" reconfigAttribute="value" />
				<xpath name="SsnPublicKey" value="/configuration/appSettings/add[@key='Ssn']" reconfigAttribute="value" />
				<xpath name="Last4SsnPublicKey" value="/configuration/appSettings/add[@key='Last4Ssn']" reconfigAttribute="value" />
				<xpath name="BatchInvokerExe" value="/configuration/appSettings/add[@key='BatchInvokerExePath']" reconfigAttribute="value" />
			</keys>
		</template>
	</reconfigTemplates>
	<environments>	
		<environment name="MainPublished" deploymentWaitTimeInSeconds="10" msDeployDirPath="C:\Program Files (x86)\IIS\Microsoft Web Deploy V2">
			<components>
				<!-- For databaseServer instanceName should be specified in name attribute -->
				<databaseServer name="SdnhPublished" server="S4000PC-D-SQe01" backupDirPath="\\S4000PC-D-SQe01\SDNHPublished" packageDirName="Database">	
					<databases>
						<database name="Sdnh" isPrimary = "true" />
					</databases>
				</databaseServer>
				<!-- S4000CE-D-WS01 -->									
				<website name="MainPublished_Sdnh" server="S4000CE-D-WS01" deployDirPath="\\s4000CE-D-WS01\SDNH" backupDirPath="\\s4000CE-D-WS01\SDNHBackup" packageDirName="Website" >										
					<reconfigure templateName="website" filePathRelToComponent="web.config">
						<values>				
							<value keyName="SdnhService" >https://sdnh-app-dev/sdnh_ws/SdnhAppService.svc</value>
							<value keyName="LoggingService" >https://sdnh-app-dev/Logging_ws/LoggingService.svc</value>
							<value keyName="Last4SsnPublicKey" >&lt;RSAKeyValue&gt;&lt;Modulus&gt;0XkHdabEOiQu5glV837c2p5LVp5LPLT02WDsGXZ7cUk4m0i66Wc6EvJ9sj3voCgxqWWv+uQNv3P8tGUH5VSScfvOpwdtDWKtT1HbXTN8T4mhtY3jR3EXhYE4/mjcDVfB+gvXFmBaQGk477TPws1P0S7oo953DgaWPNPzpuOcdQNPnSkV8vwEjrJBYDhpsQpXYY9NPqKjKEcyjpakfXp+T9hw4EBdcH0Hg6Z71vcMjnF09Ahb37TFhmhrcFzgQYinaG6RBMEDf/RBAb6y/+DDusKn+GBwIvr8GW5qMNEEexVJBuPwMRQ+R0dwvBZKXOO6W7GpiZU73tsXZ9W35bg2fQ==&lt;/Modulus&gt;&lt;Exponent&gt;AQAB&lt;/Exponent&gt;&lt;/RSAKeyValue&gt;</value>
							<value keyName="SsnPublicKey" >&lt;RSAKeyValue&gt;&lt;Modulus&gt;wrAQIAdMdW/mFxBp7UatWCW1OPATHK3b++5oGuH6y92DtHPeQe6Ht9WBXpaSzVK64x90FOOC81hXc2HguQpKFZjy3XoymxxMGIgOpGjz9GUg6fKcDKzm/mXjqnG6nRKokAcGZvX/BFirN5kywxlPi3OGJcoPPISH2U8F0qzhnAYff5QGUG0bJjt1oMw96oi1daXT/hRozgiIbLH6QUw7VWZBYpzmhKo99VXH+RFRf5py0HbdQcoAQBzb1QwL65fmIWbc3al5fw2CJt/R9l3RLtE+NVtt3/SeZ7+AkSSXlAQhEis89RVH9ahg/5E4/R8A+C6AGuU8tIFhDZydE3vEqQ==&lt;/Modulus&gt;&lt;Exponent&gt;AQAB&lt;/Exponent&gt;&lt;/RSAKeyValue&gt;</value>							
							<value keyName="SsnSaltBytes" >0x6a0a3a4ff75412417710b5ba82713571f9edc454854e3a674b91659afda33322f488fda3e07c7a752d744f752cc46d34355eee2deec23a08cdb6ba4</value>							
						</values>
					</reconfigure>
				</website>		
				<!-- S4000CE-D-WS02 -->									
				<website name="MainPublished_Sdnh" server="S4000CE-D-WS02" deployDirPath="\\s4000CE-D-WS02\SDNH" backupDirPath="\\s4000CE-D-WS02\SDNHBackup" packageDirName="Website" >										
					<reconfigure templateName="website" filePathRelToComponent="web.config">
						<values>				
							<value keyName="SdnhService" >https://sdnh-app-dev/sdnh_ws/SdnhAppService.svc</value>
							<value keyName="LoggingService" >https://sdnh-app-dev/Logging_ws/LoggingService.svc</value>
							<value keyName="Last4SsnPublicKey" >&lt;RSAKeyValue&gt;&lt;Modulus&gt;0XkHdabEOiQu5glV837c2p5LVp5LPLT02WDsGXZ7cUk4m0i66Wc6EvJ9sj3voCgxqWWv+uQNv3P8tGUH5VSScfvOpwdtDWKtT1HbXTN8T4mhtY3jR3EXhYE4/mjcDVfB+gvXFmBaQGk477TPws1P0S7oo953DgaWPNPzpuOcdQNPnSkV8vwEjrJBYDhpsQpXYY9NPqKjKEcyjpakfXp+T9hw4EBdcH0Hg6Z71vcMjnF09Ahb37TFhmhrcFzgQYinaG6RBMEDf/RBAb6y/+DDusKn+GBwIvr8GW5qMNEEexVJBuPwMRQ+R0dwvBZKXOO6W7GpiZU73tsXZ9W35bg2fQ==&lt;/Modulus&gt;&lt;Exponent&gt;AQAB&lt;/Exponent&gt;&lt;/RSAKeyValue&gt;</value>
							<value keyName="SsnPublicKey" >&lt;RSAKeyValue&gt;&lt;Modulus&gt;wrAQIAdMdW/mFxBp7UatWCW1OPATHK3b++5oGuH6y92DtHPeQe6Ht9WBXpaSzVK64x90FOOC81hXc2HguQpKFZjy3XoymxxMGIgOpGjz9GUg6fKcDKzm/mXjqnG6nRKokAcGZvX/BFirN5kywxlPi3OGJcoPPISH2U8F0qzhnAYff5QGUG0bJjt1oMw96oi1daXT/hRozgiIbLH6QUw7VWZBYpzmhKo99VXH+RFRf5py0HbdQcoAQBzb1QwL65fmIWbc3al5fw2CJt/R9l3RLtE+NVtt3/SeZ7+AkSSXlAQhEis89RVH9ahg/5E4/R8A+C6AGuU8tIFhDZydE3vEqQ==&lt;/Modulus&gt;&lt;Exponent&gt;AQAB&lt;/Exponent&gt;&lt;/RSAKeyValue&gt;</value>
							<value keyName="SsnSaltBytes" >0x6a0a3a4ff75412417710b5ba82713571f9edc454854e3a674b91659afda33322f488fda3e07c7a752d744f752cc46d34355eee2deec23a08cdb6ba4</value>							
						</values>
					</reconfigure>
				</website>				
				<!-- S4000CE-D-AS01 -->
				<webService name="SDNH/SDNH_WS" server="S4000CE-D-AS01" deployDirPath="\\s4000CE-D-AS01\SDNH_WS" backupDirPath="\\S4000CE-D-AS01\Sdnh_WSBackup\Sdnh_WS" packageDirName="WcfService" >
					<reconfigure templateName="wcfService" filePathRelToComponent="web.config">
						<values>				
							<value keyName="AllowUsers" >scdss\svc_Sdnh_Dev_Ws_App, scdss\pxsvmb, scdss\csvulx, scdss\bfilip</value>
							<value keyName="Endpoint" >https://sdnh-app-dev/sdnh_ws/SdnhAppService.svc</value>
							<value keyName="IdentityDns" >sdnh-app-dev</value>
							<value keyName="SenderEmail" >SCNewHire@dss.sc.gov</value>
							<value keyName="TechTeamEmail" >SCNewHire@dss.sc.gov</value>
							<value keyName="SenderEmailAddressDisplayText" >SC New Hire Reporting - Dev</value>
							<value keyName="UniqueLinkUrl" >https://Sdnh-dev/Action?value=</value>
							<value keyName="CryptographyService" >https://Security-app-dev/Security_WS/CryptographyService.svc</value>
							<value keyName="ConnectionString" >metadata=res://*/SdnhModel.csdl|res://*/SdnhModel.ssdl|res://*/SdnhModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=S4000PC-D-SQe01\SdnhPublished;initial catalog=Sdnh;Trusted_Connection=Yes;MultipleActiveResultSets=True;App=EntityFramework&quot;</value>
							<value keyName="LoggingServiceConnection" >Data Source=S4000PC-D-SQe01\SDNHPublished;Initial Catalog=Sdnh;Integrated Security=SSPI;</value>
							<value keyName="HoursLinkValid" >72</value>
							<value keyName="ApplicationId" >Sdnh</value>
							<value keyName="ApplicationToken" >SdnhDevelopment</value>
							<value keyName="SmtpServer" >s4000smtp02</value>
							<value keyName="BatchInvokerExe" >C:\inetpub\wwwroot\MainPublished\SDNH\Batch\Dss.Sdnh.App.BatchInvoker.exe</value>
						</values>
					</reconfigure>
				</webService>				
				<!-- S4000CE-D-AS01 -->
				<webService name="SDNH/Logging_WS" server="S4000CE-D-AS01" deployDirPath="\\s4000CE-D-AS01\SdnhLogging_WS" backupDirPath="\\S4000CE-D-AS01\Sdnh_WSBackup\Logging_WS" packageDirName="LoggingService" >
					<reconfigure templateName="wcfService" filePathRelToComponent="web.config">
						<values>				
							<value keyName="AllowUsers" >scdss\svc_Sdnh_Dev_Ws_App, scdss\pxsvmb, scdss\csvulx, scdss\bfilip</value>
							<value keyName="Endpoint" >https://sdnh-app-dev/Logging_ws/LoggingService.svc</value>
							<value keyName="IdentityDns" >sdnh-app-dev</value>
							<value keyName="SenderEmail" >SCNewHire@dss.sc.gov</value>
							<value keyName="TechTeamEmail" >SCNewHire@dss.sc.gov</value>
							<value keyName="SenderEmailAddressDisplayText" >SC New Hire Reporting - Dev</value>
							<value keyName="LoggingServiceConnection" >Data Source=S4000PC-D-SQe01\SDNHPublished;Initial Catalog=Sdnh;Integrated Security=SSPI;</value>
							<value keyName="SmtpServer" >s4000smtp02</value>
						</values>
					</reconfigure>
				</webService>
				<!-- S4000CE-D-AS02 -->
				<webService name="SDNH/SDNH_WS" server="S4000CE-D-AS02" deployDirPath="\\s4000CE-D-AS02\SDNH_WS" backupDirPath="\\s4000CE-D-AS02\SDNH_WSBackup\Sdnh_WS" packageDirName="WcfService" >
					<reconfigure templateName="wcfService" filePathRelToComponent="web.config">
						<values>				
							<value keyName="AllowUsers" >scdss\svc_Sdnh_Dev_Ws_App, scdss\pxsvmb, scdss\csvulx, scdss\bfilip</value>
							<value keyName="Endpoint" >https://sdnh-app-dev/sdnh_ws/SdnhAppService.svc</value>
							<value keyName="IdentityDns" >sdnh-app-dev</value>
							<value keyName="SenderEmail" >SCNewHire@dss.sc.gov</value>
							<value keyName="TechTeamEmail" >SCNewHire@dss.sc.gov</value>
							<value keyName="SenderEmailAddressDisplayText" >SC New Hire Reporting - Dev</value>
							<value keyName="UniqueLinkUrl" >https://Sdnh-dev/Action?value=</value>
							<value keyName="CryptographyService" >https://Security-app-dev/Security_WS/CryptographyService.svc</value>
							<value keyName="ConnectionString" >metadata=res://*/SdnhModel.csdl|res://*/SdnhModel.ssdl|res://*/SdnhModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=S4000PC-D-SQe01\SdnhPublished;initial catalog=Sdnh;Trusted_Connection=Yes;MultipleActiveResultSets=True;App=EntityFramework&quot;</value>
							<value keyName="LoggingServiceConnection" >Data Source=S4000PC-D-SQe01\SDNHPublished;Initial Catalog=Sdnh;Integrated Security=SSPI;</value>
							<value keyName="HoursLinkValid" >72</value>
							<value keyName="ApplicationId" >Sdnh</value>
							<value keyName="ApplicationToken" >SdnhDevelopment</value>
							<value keyName="SmtpServer" >s4000smtp02</value>
              <value keyName="BatchInvokerExe" >C:\inetpub\wwwroot\MainPublished\SDNH\Batch\Dss.Sdnh.App.BatchInvoker.exe</value>
						</values>
					</reconfigure>
				</webService>
				<!-- S4000CE-D-AS02 -->
				<webService name="SDNH/Logging_WS" server="S4000CE-D-AS02" deployDirPath="\\s4000CE-D-AS02\SdnhLogging_WS" backupDirPath="\\S4000CE-D-AS02\Sdnh_WSBackup\Logging_WS" packageDirName="LoggingService" >
					<reconfigure templateName="wcfService" filePathRelToComponent="web.config">
						<values>				
							<value keyName="AllowUsers" >scdss\svc_Sdnh_Dev_Ws_App, scdss\pxsvmb, scdss\csvulx, scdss\bfilip</value>
							<value keyName="Endpoint" >https://sdnh-app-dev/Logging_ws/LoggingService.svc</value>
							<value keyName="IdentityDns" >sdnh-app-dev</value>
							<value keyName="SenderEmail" >SCNewHire@dss.sc.gov</value>
							<value keyName="TechTeamEmail" >SCNewHire@dss.sc.gov</value>
							<value keyName="SenderEmailAddressDisplayText" >SC New Hire Reporting - Dev</value>							
							<value keyName="LoggingServiceConnection" >Data Source=S4000PC-D-SQe01\SDNHPublished;Initial Catalog=Sdnh;Integrated Security=SSPI;</value>
							<value keyName="SmtpServer" >s4000smtp02</value>
						</values>
					</reconfigure>
				</webService>
        <executable name="SDNH/BatchInvoker" server="S4000CE-D-AS01" deployDirPath="\\s4000CE-D-AS01\SdnhBatch" backupDirPath="\\s4000CE-D-AS01\SDNH_WSBackup\Batch" packageDirName="BatchInvoker" >
          <reconfigure templateName="batchInvoker" filePathRelToComponent="Dss.Sdnh.App.BatchInvoker.exe.config">
            <values>
              <value keyName="BatchJobErrorEmailSubject" >Error occurred while executing batch job - </value>
              <value keyName="DssSenderEmailAddressDisplayText" >SC New Hire Reporting - Dev</value>
              <value keyName="DssSmtpServerHost" >s4000smtp02</value>
              <value keyName="CryptographyService" >https://Security-app-dev/Security_WS/CryptographyService.svc</value>
              <value keyName="ApplicationId" >Sdnh</value>
              <value keyName="ApplicationToken" >SdnhDevelopment</value>
              <value keyName="DebugMode" >false</value>
              <value keyName="MigrateEmployers" >false</value>
              <value keyName="CoreFtpExePath" >C:\Program Files (x86)\CoreFTP\coreftp.exe</value>
              <value keyName="SftpSiteName" >Sdnh</value>
              <value keyName="BatchLogDirectory" >C:\inetpub\wwwroot\MainPublished\SDNH\BatchLog\</value>
              <value keyName="ConnectionString" >metadata=res://*/SdnhModel.csdl|res://*/SdnhModel.ssdl|res://*/SdnhModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=S4000PC-D-SQe01\SdnhPublished;initial catalog=Sdnh;Trusted_Connection=Yes;MultipleActiveResultSets=True;App=EntityFramework&quot;</value>
              <value keyName="LoggingServiceConnection" >Data Source=S4000PC-D-SQe01\SDNHPublished;Initial Catalog=Sdnh;Integrated Security=SSPI;</value>
            </values>
          </reconfigure>
        </executable>
				<executable name="SDNH/BatchInvoker" server="S4000CE-D-AS02" deployDirPath="\\s4000CE-D-AS02\SdnhBatch" backupDirPath="\\s4000CE-D-AS02\SDNH_WSBackup\Batch" packageDirName="BatchInvoker" >
					<reconfigure templateName="batchInvoker" filePathRelToComponent="Dss.Sdnh.App.BatchInvoker.exe.config">
						<values>													
              <value keyName="DssSenderEmailAddressDisplayText" >SC New Hire Reporting - Dev</value>
							<value keyName="DssSmtpServerHost" >s4000smtp02</value>
              <value keyName="CryptographyService" >https://Security-app-dev/Security_WS/CryptographyService.svc</value>
              <value keyName="ApplicationId" >Sdnh</value>
              <value keyName="ApplicationToken" >SdnhDevelopment</value>
              <value keyName="DebugMode" >false</value>
              <value keyName="MigrateEmployers" >false</value>
              <value keyName="CoreFtpExePath" >C:\Program Files (x86)\CoreFTP\coreftp.exe</value>
              <value keyName="SftpSiteName" >Sdnh</value>
              <value keyName="BatchLogDirectory" >C:\inetpub\wwwroot\MainPublished\SDNH\BatchLog\</value>
							<value keyName="ConnectionString" >metadata=res://*/SdnhModel.csdl|res://*/SdnhModel.ssdl|res://*/SdnhModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=S4000PC-D-SQe01\SdnhPublished;initial catalog=Sdnh;Trusted_Connection=Yes;MultipleActiveResultSets=True;App=EntityFramework&quot;</value>
							<value keyName="LoggingServiceConnection" >Data Source=S4000PC-D-SQe01\SDNHPublished;Initial Catalog=Sdnh;Integrated Security=SSPI;</value>
						</values>
					</reconfigure>
				</executable>
			</components>
			<log dirPath ="C:\SdnhDeploy" />
			<notify>
				<activeDirGroup value="DL_CSES_Developers" includeTechDetails = "true"/>
			</notify>
		</environment>	
		<environment name="Test" deploymentWaitTimeInSeconds="20" msDeployDirPath="C:\Program Files (x86)\IIS\Microsoft Web Deploy V2">
			<components>
				<!-- For databaseServer instanceName should be specified in name attribute -->
				<databaseServer name="" server="S4000PC-T-SQe01" backupDirPath="\\S4000PC-T-SQe01\SDNH" packageDirName="Database">	
					<databases>
						<database name="Sdnh" isPrimary = "true" />
					</databases>
				</databaseServer>
				<!-- S4000CE-T-WS01 -->									
				<website name="Sdnh" server="S4000CE-T-WS01" deployDirPath="\\s4000CE-T-WS01\SDNH" backupDirPath="\\s4000CE-T-WS01\SDNHBackup" packageDirName="Website" >										
					<reconfigure templateName="website" filePathRelToComponent="web.config">
						<values>				
							<value keyName="SdnhService" >https://sdnh-app-test/sdnh_ws/SdnhAppService.svc</value>
							<value keyName="LoggingService" >https://sdnh-app-test/Logging_ws/LoggingService.svc</value>
							<value keyName="SsnPublicKey" ></value>
							<value keyName="Last4SsnPublicKey" ></value>
							<value keyName="SsnSaltBytes" ></value>														
						</values>
					</reconfigure>
				</website>		
				<!-- S4000CE-T-WS02 -->									
				<website name="Sdnh" server="S4000CE-T-WS02" deployDirPath="\\s4000CE-T-WS02\SDNH" backupDirPath="\\s4000CE-T-WS02\SDNHBackup" packageDirName="Website" >										
					<reconfigure templateName="website" filePathRelToComponent="web.config">
						<values>				
							<value keyName="SdnhService" >https://sdnh-app-test/sdnh_ws/SdnhAppService.svc</value>
							<value keyName="LoggingService" >https://sdnh-app-test/Logging_ws/LoggingService.svc</value>
							<value keyName="SsnPublicKey" ></value>
							<value keyName="Last4SsnPublicKey" ></value>
							<value keyName="SsnSaltBytes" ></value>		
						</values>
					</reconfigure>
				</website>				
				<!-- S4000CE-T-AS01 -->
				<webService name="SDNH/SDNH_WS" server="S4000CE-T-AS01" deployDirPath="\\s4000CE-T-AS01\SDNH_WS" backupDirPath="\\S4000CE-T-AS01\Sdnh_WSBackup\Sdnh_WS" packageDirName="WcfService" >
					<reconfigure templateName="wcfService" filePathRelToComponent="web.config">
						<values>				
							<value keyName="AllowUsers" >scdss\svc_Sdnh_Test_Ws_App</value>
							<value keyName="Endpoint" >https://sdnh-app-test/sdnh_ws/SdnhAppService.svc</value>
							<value keyName="IdentityDns" >sdnh-app-test</value>
							<value keyName="SenderEmail" >SCNewHire@dss.sc.gov</value>
							<value keyName="TechTeamEmail" >SCNewHire@dss.sc.gov</value>
							<value keyName="SenderEmailAddressDisplayText" >SC New Hire Reporting - Test</value>
							<value keyName="UniqueLinkUrl" >https://Sdnh-test/Action?value=</value>
							<value keyName="CryptographyService" >https://sdnh-app-test/Security_WS/CryptographyService.svc</value>
							<value keyName="ConnectionString" >metadata=res://*/SdnhModel.csdl|res://*/SdnhModel.ssdl|res://*/SdnhModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=S4000PC-T-SQE01;initial catalog=Sdnh;Trusted_Connection=Yes;MultipleActiveResultSets=True;App=EntityFramework&quot;</value>
							<value keyName="LoggingServiceConnection" >Data Source=S4000PC-T-SQE01;Initial Catalog=Sdnh;Integrated Security=SSPI;</value>
							<value keyName="HoursLinkValid" >72</value>
							<value keyName="ApplicationId" >Sdnh</value>
							<value keyName="ApplicationToken" >SdnhTest</value>
							<value keyName="SmtpServer" >s4000smtp02</value>
							<value keyName="SsnPublicKey" ></value>
							<value keyName="Last4SsnPublicKey" ></value>
							<value keyName="SsnSaltBytes" ></value>
						</values>
					</reconfigure>
				</webService>				
				<!-- S4000CE-T-AS01 -->
				<webService name="SDNH/Logging_WS" server="S4000CE-T-AS01" deployDirPath="\\s4000CE-T-AS01\SdnhLogging_WS" backupDirPath="\\S4000CE-T-AS01\Sdnh_WSBackup\Logging_WS" packageDirName="LoggingService" >
					<reconfigure templateName="wcfService" filePathRelToComponent="web.config">
						<values>				
							<value keyName="AllowUsers" >scdss\svc_Sdnh_Test_Ws_App</value>
							<value keyName="Endpoint" >https://sdnh-app-test/Logging_ws/LoggingService.svc</value>
							<value keyName="IdentityDns" >sdnh-app-test</value>
							<value keyName="SenderEmail" >SCNewHire@dss.sc.gov</value>
							<value keyName="TechTeamEmail" >SCNewHire@dss.sc.gov</value>
							<value keyName="SenderEmailAddressDisplayText" >SC New Hire Reporting - Test</value>
							<value keyName="LoggingServiceConnection" >Data Source=S4000PC-T-SQE01;Initial Catalog=Sdnh;Integrated Security=SSPI;</value>
							<value keyName="SmtpServer" >s4000smtp02</value>
						</values>
					</reconfigure>
				</webService>
				<!-- S4000CE-T-AS02 -->
				<webService name="SDNH/SDNH_WS" server="S4000CE-T-AS02" deployDirPath="\\s4000CE-T-AS02\SDNH_WS" backupDirPath="\\s4000CE-T-AS02\SDNH_WSBackup\Sdnh_WS" packageDirName="WcfService" >
					<reconfigure templateName="wcfService" filePathRelToComponent="web.config">
						<values>				
							<value keyName="AllowUsers" >scdss\svc_Sdnh_Test_Ws_App</value>
							<value keyName="Endpoint" >https://sdnh-app-test/sdnh_ws/SdnhAppService.svc</value>
							<value keyName="IdentityDns" >sdnh-app-test</value>
							<value keyName="SenderEmail" >SCNewHire@dss.sc.gov</value>
							<value keyName="TechTeamEmail" >SCNewHire@dss.sc.gov</value>
							<value keyName="SenderEmailAddressDisplayText" >SC New Hire Reporting - Test</value>
							<value keyName="UniqueLinkUrl" >https://Sdnh-test/Action?value=</value>
							<value keyName="CryptographyService" >https://sdnh-app-test/Security_WS/CryptographyService.svc</value>
							<value keyName="ConnectionString" >metadata=res://*/SdnhModel.csdl|res://*/SdnhModel.ssdl|res://*/SdnhModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=S4000PC-T-SQE01;initial catalog=Sdnh;Trusted_Connection=Yes;MultipleActiveResultSets=True;App=EntityFramework&quot;</value>
							<value keyName="LoggingServiceConnection" >Data Source=S4000PC-T-SQE01;Initial Catalog=Sdnh;Integrated Security=SSPI;</value>
							<value keyName="HoursLinkValid" >72</value>
							<value keyName="ApplicationId" >Sdnh</value>
							<value keyName="ApplicationToken" >SdnhTest</value>
							<value keyName="SmtpServer" >s4000smtp02</value>
							<value keyName="SsnPublicKey" ></value>
							<value keyName="Last4SsnPublicKey" ></value>
							<value keyName="SsnSaltBytes" ></value>
						</values>
					</reconfigure>
				</webService>
				<!-- S4000CE-D-AS02 -->
				<webService name="SDNH/Logging_WS" server="S4000CE-T-AS02" deployDirPath="\\s4000CE-T-AS02\SdnhLogging_WS" backupDirPath="\\S4000CE-T-AS02\Sdnh_WSBackup\Logging_WS" packageDirName="LoggingService" >
					<reconfigure templateName="wcfService" filePathRelToComponent="web.config">
						<values>				
							<value keyName="AllowUsers" >scdss\svc_Sdnh_Test_Ws_App</value>
							<value keyName="Endpoint" >https://sdnh-app-test/Logging_ws/LoggingService.svc</value>
							<value keyName="IdentityDns" >sdnh-app-test</value>
							<value keyName="SenderEmail" >SCNewHire@dss.sc.gov</value>
							<value keyName="TechTeamEmail" >SCNewHire@dss.sc.gov</value>
							<value keyName="SenderEmailAddressDisplayText" >SC New Hire Reporting - Test</value>
							<value keyName="LoggingServiceConnection" >Data Source=S4000PC-T-SQE01;Initial Catalog=Sdnh;Integrated Security=SSPI;</value>
							<value keyName="SmtpServer" >s4000smtp02</value>
						</values>
					</reconfigure>
				</webService>
				<executable name="SDNH/BatchInvoker" server="S4000CE-T-AS02" deployDirPath="\\s4000CE-T-AS02\SdnhBatchInvoker" backupDirPath="\\S4000CE-T-AS02\SdnhBatchInvokerBackup" packageDirName="BatchInvoker" >
					<reconfigure templateName="batchInvoker" filePathRelToComponent="Dss.Sdnh.App.BatchInvoker.exe.config">
						<values>				
							<value keyName="TechTeamEmail" >SCNewHire@dss.sc.gov</value>
							<value keyName="SenderEmailAddressDisplayText" >SC New Hire Reporting - Dev</value>							
							<value keyName="CryptographyService" >https://sdnh-app-test/Security_WS/CryptographyService.svc</value>
							<value keyName="ConnectionString" >metadata=res://*/SdnhModel.csdl|res://*/SdnhModel.ssdl|res://*/SdnhModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=S4000PC-T-SQE01;initial catalog=Sdnh;Trusted_Connection=Yes;MultipleActiveResultSets=True;App=EntityFramework&quot;</value>
							<value keyName="LoggingServiceConnection" >Data Source=S4000PC-T-SQE01;Initial Catalog=Sdnh;Integrated Security=SSPI;</value>
							<value keyName="SmtpServer" >s4000smtp02</value>
							<value keyName="ApplicationId" >Sdnh</value>
							<value keyName="ApplicationToken" >SdnhTest</value>
							<value keyName="SsnPublicKey" ></value>
							<value keyName="Last4SsnPublicKey" ></value>
							<value keyName="SsnSaltBytes" ></value>
              <value keyName="DebugMode" >false</value>
              <value keyName="MigrateEmployers" >false</value>
              <value keyName="CoreFtpExePath" >C:\Program Files (x86)\CoreFTP\coreftp.exe</value>
              <value keyName="SftpSiteName" >Sdnh</value>
              <value keyName="BatchLogDirectory" >C:\inetpub\wwwroot\MainPublished\SDNH\BatchLog\</value>
						</values>
					</reconfigure>
				</executable>
			</components>
			<log dirPath ="C:\SdnhDeploy\Publish" />
			<notify>
				<activeDirGroup value="DL_CSES_Developers" includeTechDetails = "true"/>
				<email value="madhuri.inaganti@dss.sc.gov" includeTechDetails = "false"/>
			</notify>
		</environment>			
	</environments>
</configuration>