SELECT [ColID]
      ,[ColA]
      ,[ColB]
      ,[ColC]
  FROM [SSISIncrementalLoad_Source].[dbo].[tblSource]

SELECT [ColID]
      ,[ColA]
      ,[ColB]
      ,[ColC]
  FROM [SSISIncrementalLoad_Dest].[dbo].[tblDest]