<configuration>
	<topics>
		<add text="Child Support">
			<synonyms>
				<add text="CSES" />
			</synonyms>
		</add>
		
			
		<add text=".NET Framework">
			<synonyms>
				<add text=".NET" />
			</synonyms>
		</add>
		<add text="Agile" />		
		<add text="ASP.NET">
			<synonyms>
				<add text="ASP .NET" />
			</synonyms>
		</add>
		<add text="C#">
			<synonyms>
				<add text="C#.NET" />
			</synonyms>
		</add>
		<add text="EA">
			<synonyms>
				<add text="Enterprise Architect" />
			</synonyms>
		</add>	
		<add text="HTML5">
			<synonyms>
				<add text="HTML 5" />
			</synonyms>
		</add>
		<add text="JavaScript">
			<synonyms>
				<add text="Java Script" />
			</synonyms>
		</add>
		<add text="JQuery"/>
		
		
		<add text="ORM">
			<synonyms>
				<add text="Entity Framework" />
				<add text="NHibernate" />
				<add text="Object Relational Mapping" />				
			</synonyms>
		</add>	
		<add text="Entity Framework" />	
		<add text="NHibernate"/>	
		
		
		<add text="PowerShell">
			<synonyms>
				<add text="Power Shell" />
			</synonyms>
		</add>
		<add text="ReSharper" />
		<add text="SQL">
			<synonyms>
				<add text="TSQL" />
				<add text="T-SQL" />
				<add text="Transact-SQL" />
			</synonyms>
		</add>
		<add text="SQL Server">
			<synonyms>
				<add text="MSSQL" />
			</synonyms>
		</add>
		<add text="SOA" >
			<synonyms>
				<add text="Service Oriented Architecture" />
				<add text="Service-Oriented Architecture" />
			</synonyms>
		</add>
		<add text="SVN">
			<synonyms>
				<add text="TortoiseSVN" />
				<add text="Tortoise SVN" />
			</synonyms>
		</add>
		<add text="TFS" >
			<synonyms>
				<add text="Team Foundation Server" />
			</synonyms>
		</add>
		
		
		<add text="Unit Testing" >
			<synonyms>
				<add text="NUnit" />
				<add text="Microsoft Testing Framework" />
				<add text="MS Testing Framework" />
				<add text="Ms Test" />	
				<add text="Unit Test" />
				<add text="Unit Tests" />
			</synonyms>
		</add>
		<add text="MsTest">
			<synonyms>
				<add text="Microsoft Testing Framework" />
				<add text="MS Testing Framework" />
				<add text="Ms Test" />			
				<add text="VS Test" />			
				<add text="VS Unit Test" />			
				<add text="VS Unit Testing" />	
				<add text="Visual Studio Test" />			
				<add text="Visual Studio Unit Test" />			
				<add text="Visual Studio Unit Testing" />					
			</synonyms>
		</add>	
		<add text="NUnit" />	
		<add text="Mock Objects">
			<synonyms>
				<add text="Fakes" />
				<add text="Mock Object" />
				<add text="Moles" />
				<add text="NMock" />
				<add text="RhinoMock" />
				<add text="Shim" />
				<add text="Shims" />
			</synonyms>
		</add>	
		
		
		<add text="Visual Studio">
			<synonyms>
				<add text="VS" />
			</synonyms>
		</add>
		<add text="Waterfall">
			<synonyms>
				<add text="Water fall" />
			</synonyms>
		</add>
		<add text="WCF" >
			<synonyms>
				<add text="Windows Communication Foundation" />
			</synonyms>
		</add>
	</topics>
</configuration>